---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Kontakt</Fragment>
      <Fragment slot="desc">Jag hjälper dig</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Kontakta Johan</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Funderar du ifall jag kan hjälpa dig? Troligtvis kan jag det. Skriv eller ring så kan vi komma fram till en lösning.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Vadmalsvägen 8, 75757 Uppsala</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:kontakt@fixarjohan.se"
              >kontakt@fixarjohan.se</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+46767106878">+46 76 710 68 78</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform buttonStyle="primary" />
      </div>
    </div>
  </Container>
</Layout>
