---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Reparation av Elektronik",
    description:
      "Fixa trasiga datorer, TV-apparater, tangentbord och annan teknik.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Bygga och Renovera",
    description:
      "Bygga altaner, friggebodar, växthus, pool-hus och mycket mer.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Laga och Återställa",
    description:
      "Reparation av smycken, möbler, verktyg och andra hushållsföremål.",
    icon: "bx:bxs-data",
  },
  {
    title: "Motorer och Maskiner",
    description:
      "Reparation och underhåll av motorer och maskiner.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Skräddarsydda Projekt",
    description:
      "Anpassade lösningar och specialbeställningar för unika behov.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "3D utskrifter",
    description:
      "Ofta saknas reservdelar, jag kan skapa egna. Eller något helt unikt för dig.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
   Lite av vad jag kan hjälpa dig med
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Jag har många strängar på min lyra, här är några av sakerna jag hjälper dig med. Kontakta mig om du behöver hjälp
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
